################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.json
*.cache
*.props
*.targets
*.dtbcache
*.vs
*.dll
*.pdb


\config.xml

\obj
\bin
\v16